// Search personalizada
.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-bar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #353b48;
  border-radius: 25px;
  padding: 5px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search-bar:hover > .search_input {
  padding: 0 10px;  
  caret-color: orange;
  transition: width 0.4s linear;
}

.search-bar:hover > .search_icon {
  text-decoration: none;
  background: white;
  color: orange;  
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}


@media (min-width: 576px) {
  .search-bar:hover > .search_input {    
    width: 250px;    
  }
}

@media (min-width: 768px) {
  .search-bar:hover > .search_input {    
    width: 400px;    
  }
}

@media (min-width: 992px) {
  .search-bar:hover > .search_input {    
    width: 600px;    
  }
}

@media (min-width: 1336px) {
  .search-bar:hover > .search_input {    
    width: 1000px;    
  }
}



