.logo-supero {
  filter: brightness(500%) grayscale(10%);
  transition: all 0.5s;
  height: 40px;
  margin: 0;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

// Search personalizada
.search-bar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #353b48;
  border-radius: 27px;
  padding: 5px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search-bar:hover > .search_input {
  padding: 0 10px;
  width: 850px;
  caret-color: red;
  transition: width 0.4s linear;
}

.search-bar:hover > .search_icon {
  text-decoration: none;
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

// Search personalizada
.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-bar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #353b48;
  border-radius: 27px;
  padding: 5px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search-bar:hover > .search_input {
  padding: 0 10px;
  //width: 500px;
  max-width: 100%!important;
  caret-color: red;
  transition: width 0.4s linear;
}

.search-bar:hover > .search_icon {
  text-decoration: none;
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
