html,
body {
  height: 100%;
  background: rgba(232, 103, 56, 1);
  background: -moz-linear-gradient(
    top,
    rgba(232, 103, 56, 1) 0%,
    rgba(232, 103, 56, 1) 46%,
    rgba(235, 119, 77, 1) 86%,
    rgba(245, 153, 120, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(232, 103, 56, 1)),
    color-stop(46%, rgba(232, 103, 56, 1)),
    color-stop(86%, rgba(235, 119, 77, 1)),
    color-stop(100%, rgba(245, 153, 120, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(232, 103, 56, 1) 0%,
    rgba(232, 103, 56, 1) 46%,
    rgba(235, 119, 77, 1) 86%,
    rgba(245, 153, 120, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(232, 103, 56, 1) 0%,
    rgba(232, 103, 56, 1) 46%,
    rgba(235, 119, 77, 1) 86%,
    rgba(245, 153, 120, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(232, 103, 56, 1) 0%,
    rgba(232, 103, 56, 1) 46%,
    rgba(235, 119, 77, 1) 86%,
    rgba(245, 153, 120, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(232, 103, 56, 1) 0%,
    rgba(232, 103, 56, 1) 46%,
    rgba(235, 119, 77, 1) 86%,
    rgba(245, 153, 120, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86738', endColorstr='#f59978', GradientType=0 );
}
body {
  margin: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
