html,
body {
  height: 100%;
  background: rgba(232, 103, 56, 1);
}
body {
  margin: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo-supero {
  filter: brightness(500%) grayscale(10%);
  transition: all 0.5s;
  height: 40px;
  margin: 0;
}

.bg-supero {
  background-color: #e86738 !important;
  color: white !important;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  color: #e86738;
  font-size: 16px;
}

.td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-color: #e86738;
}
tr.mat-footer-row,
tr.mat-row {
  height: 60px !important;
}

.mat-tooltip.tooltip {
  background-color: #e86738;
  -webkit-box-shadow: 1px -1px 9px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 9px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 9px 1px rgba(0, 0, 0, 0.75);
  font-size: 14px;
}

hr {
  border-color: #e86738;
}

// regras genericas
.text-center {
  text-align: center !important;
}
.w-20 {
  width: 20%;
}
.w-100 {
  width: 100%;
}
.w-70 {
  width: 70%;
}
.ml-30p {
  margin-left: 30px !important;
}
.ml-8p {
  margin-left: 8px;
}
.h-auto {
  height: auto;
}
.h-40p {
  height: 40px;
}
.mb-8p {
  margin-bottom: 8px;
}
.text-lightgray {
  color: rgb(226, 223, 223);
}
